*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #eee;
  --background-color: #333;
}

[data-theme="light"] {
  --font-color: #333;
  --background-color: #eee;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

main {
  width: 90%;
  margin-inline: auto;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

a {
  color: var(--font-color)
}

.auth-page {
  border: solid var(--font-color);
  width: 70%;
  margin-inline: auto;
  padding: 10px 20px 30px;
  margin-top: 50px;

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
}

.auth-form {
  & > * {
    display: block;
    width: 100%;
    padding-block: 5px;
    padding-left: 5px;

    &:not(button):not(p) {
      margin-bottom: 15px;
    }

    &:is(button) {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &:is(p) {
      padding-left: 0;
    }
  }
}

.thread-list {
  .threads-item {
    border: solid #fff;
    padding: 5px 10px;
    margin-bottom: 20px;

    .thread-title {
      margin-bottom: 10px;
    }

    .thread-body {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}